@charset "utf-8";


*{
    min-height: 100%;
    margin: 0px;
    padding: 0px;

}

html,body{
            background-color: darkgray;
            color: white;
            min-height: 100vh;
            margin: 0px;
            padding: 0px;


}

header{
        background-color: black;
        color: white;
        padding-top: 50px;
        
        text-align: center;
        text-transform: uppercase;



}
header > p{
             padding-bottom: 30px;
             padding-top: 30px;
             text-decoration: solid;
}

header > h1{
                
            
                

}

nav{
    text-align: left;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 5px;
    
}

a{
        text-decoration: solid;
        color: blue;
        margin-right: 20px;
    

}


a:hover{
            text-decoration: underline;
            
            color: white;

}



    
            





section{
            padding-top: 30px;
            padding-bottom: 30px;
            line-height: 2em;
            text-align: justify;
            font-family: Arial, Helvetica, sans-serif;
            
    
        

    


}

.introd{
            background-color: rgb(53, 52, 52);


}

strong{
    border-radius: 20px;
}



strong>p{
            padding-left: 10px;
            padding-right: 10px;
            background-color: rgba(37, 37, 37, 0.438);
            color: white;
            font-size: 1.4em;
            font-family: Arial, Helvetica, sans-serif;
            text-decoration: solid;
            border-radius: 15px;
        
           
}

       

section>p{
            padding: 10px;
            margin-right: px;
            margin-left: px;
            padding-left: 10px;
}

.normal{
            background-color: white;
            color: black;
            text-align: justify;


}

.normal>p{
            font-size: 1.3em;

}

.imagem1,.imagem2{
            padding-top: 50px;
            padding-bottom: 50px;
            background-color: rgb(53, 51, 51);
            height: 250px;
            

}

.imagem1>p,.imagem2>p{
            background-color: rgba(15, 15, 15, 0.637);
            width: 500px;
            height: 250px;
            font-size: 1.5em;
            padding: 10px;
            margin-left: 20px;
            



}

.imagem1{

            background: black url('imagens/saladeaula.jpg')  bottom right no-repeat fixed;
            background-size: cover;

}

.imagem2{
    background: black url('imagens/fundo.jpg')  bottom right no-repeat fixed;
    background-size: cover;

}


footer{
        background-color: black;
        color: white;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 1.3em;

}






